/* относится ко всей странице целиком */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* выравнивание содержимого по центру страницы с помощью контейнера */
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

/* Первый блок сайта. (main_bg.png) Фон в верхней первой части страницы, начало описания интенсива */
.promo { 
    height: 800px;
    background: url('../img/main_bg.png') center center/cover no-repeat;
    /* url('.../путь картинки)', позиция картинки (х,у)/размер картинки (cover - растяжение картинки), no-repeat (повторение картинки (no-repeat - картинка не повторяется) */
    /* слэш между позицией и размером обязателен. зачем? просто да, просто обязателен */
    padding: 39px 0px 62px 0px;
}

/* (photo.jpg.png) настройка логотипа, позиционирование и выравнивание */
.logo .logo_img, .present .present_img { 
    display: block;
    margin: 0 auto;
}

/* (WordPress интенсив) текст под логотипом, шрифт и выравнивание */
.logo .logo_text { 
    color: #ffffff;
    font-family: Roboto; /* стиль шрифта */
    font-size: 15px; /* размер шрифта */
    font-weight: 500; /* толщина шрифта */
    line-height: 24px; 
    text-transform: uppercase; /* жирный шрифт */
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

/* (Куда сложнее сделать это правильно!) */
.title { 
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

/* По факту это один элемент. Отличается от того, как если между тегами поставить пробел (вложенные элементы) */
h2.title { 
    margin-top: 30px;
}

/* (Это просто!) */
.simple .title_big { 
    color: rgb(255, 255, 255);
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

/* (Ежедневно в Росиии...) */
.promo .promo_text { 
    padding: 0 12px;
    margin-top: 23px;
    color: white;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px; /* Высота строки */
    font-family: "Roboto Light";
    font-weight: 300px;
    text-align: center;
}

/* (БЕСПЛАТНОМ) */
.promo .promo_text span { 
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700px;
}

/* (Записаться на интенсив!) Кнопка */
.promo .promo_btn, .present .present_btn { 
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    /* box-shadow (тень блока): inset (падает внутрь блока) 0 (смещение по оси х) -5рх (смещение по оси у) 0 (размытие тени, 0<1 -> тени более размытые) rgba(0, 0, 0, 0.18) (цвет тени)*/
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    /* : линейный-градиент(идёт вверх, цвет1 %, цвет2 %) */
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer; /* Взаимодействие с курсором мыши */
    outline: none; /* Отключение обводки */
}

.more {
    margin-top: 73px;
}

/* (Узнать больше об интенсиве) */
.more .more_text { 
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* Стрелка */
.more .more_img { 
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* Второй блок сайта */
.waiting {
    height: 607px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

/* (Что вас ждёт в нашем интенсиве?) */
.waiting .waiting_header, .finish .finish_header, .date .date_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.finish .finish_header {
    color: #ffffff;
}
/* Разделитель */
.waiting .waiting_divider, .finish .finish_devider {
    background: #f9bf3b;
    width: 220px;
    height: 7px;
    margin: 0 auto;
    margin-top: 18px;
}

/* (2 бесплатных полноценных обучающих вебинара, где:) */
.waiting .waiting_subheader, .date .date_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    /* justify-content - Выравнивает элементы по главной оси; space-between - Промежуток между элементами */
    /* flex-wrap; wrap (да, перенос) /или же/ nowrap (нет, без переноса)- Перенос содержимого на другую строку*/
    /* align-items;  - Выравнивает элементы по поперечной оси */
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

/* Подписи под картинками */
.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

/* Третий блок сайта */
.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header, .date .date_wrapper .date_descr {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-style: 17px;
    font-weight: 300;
    line-height: 27px;
    font-family: "Roboto - Light";
    font-weight: 300;
}

.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

/* Четвёртый блок сайта */
.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: rgb(239, 239, 239);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/* Пятый блок сайта */
.present {
    height: 631px;
    background-color: #efefef;
    padding: 88px 0 88px 0;
}

.present .present_wrapper .present_text {
    margin-top: 45px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}

.present .present_wrapper .present_btn {
    margin-top: 51px;
}

.date .date_wrapper .date_img {
    display: block;
    margin: 0 auto;
}

.date {
    padding: 89px 0 50px 0;
}

.date .date_wrapper .date_header {
    margin-top: 36px;
}

.date .date_wrapper .date_descr {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
    
}

.date .date_wrapper .date_subheader {
    margin-top: 25px;
}

.contacts {
    height: 169px;
    background-color: rgb(26, 26, 26);
    padding: 58px 0 70px 0;
}

.contacts .contacts_wrapper .contacts_btn {
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
}

.contacts .contacts_wrapper .contacts_btn .contacts_supp {
    color: #888888;
}

.contacts .contacts_wrapper .contacts_btn .policy {
    color: #888888;
}